<header class="shadow">
  <h4> All Groups </h4>

  <a href="<%= new_group_path %>">
    <button class="btn btn-success">
      New Group
    </button>
  </a>
</header>
<p id="notice"><%= notice %></p>

<div class="group" >
    <% @groups.each do |group| %>
      <div class="card border-0 shadow-sm group-card">
        <div class="card-body">  
          <div class="group-image" style="background-image: url('https://www.seekpng.com/png/detail/428-4287240_no-avatar-user-circle-icon-png.png'); background-size: cover;"></div>
            <p class="g-name"> <%= link_to group.name, group_path(group) %></p>
            <p class="g-time"> <%= created_date(group)%> </p>
          </div>        
      </div>
    <% end %>
  </div>

